.login-signup-button {
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5 ease;
}

.login-signup-button:hover {
    background-color: #ff4d4d;
}